## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

2023-05-09 13:11:42.634161: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], 1)
application_df

/var/folders/ns/7h12gh0s00n895nm2mpghd3h0000gn/T/ipykernel_13296/2632617913.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN", "NAME"], 1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
application_types_to_replace = ["T9", "T13", "T12", "T2", "T25", "T14", "T29", "T15", "T17"]
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150', 'C2190', 'C4200', 'C5200', 'C2600']
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
pd.get_dummies(application_df).head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = pd.get_dummies(application_df).values
y = application_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 360

 dense_1 (Dense)             (None, 1)                 9

=================================================================
Total params: 369
Trainable params: 369
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.2922 - accuracy: 0.8952
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0255 - accuracy: 0.9985
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0073 - accuracy: 0.9993
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0032 - accuracy: 0.9996
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0018 - accuracy: 0.9998
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.0011 - accuracy: 0.9998
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 7.5884e-04 - accuracy: 0.9998
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 4.9339e-04 - accuracy: 0.9999
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 3.5517e-04 - accuracy: 0.9999
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 2.9928e-04 - accuracy: 0.9999
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 2.5411e-04 - accuracy: 0.9999
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 1.9719e-04 - accuracy: 0.9999
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 2.1453e-04 - accuracy: 0.9999
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 1.7598e-04 - accuracy: 0.9999
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 1.6719e-04 - accuracy: 0.9999
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 1.5449e-04 - accuracy: 0.9999
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 1.5139e-04 - accuracy: 0.9999
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 1.4799e-04 - accuracy: 0.9999
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 1.3732e-04 - accuracy: 0.9999
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2341e-04 - accuracy: 0.9999
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2083e-04 - accuracy: 0.9999
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2974e-04 - accuracy: 0.9999
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 1.2462e-04 - accuracy: 0.9999
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1302e-04 - accuracy: 0.9999
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1187e-04 - accuracy: 0.9999
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1119e-04 - accuracy: 0.9999
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1708e-04 - accuracy: 0.9999
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1046e-04 - accuracy: 0.9999
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1015e-04 - accuracy: 0.9999
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0999e-04 - accuracy: 0.9999
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1013e-04 - accuracy: 0.9999
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 1.1127e-04 - accuracy: 0.9999
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 1.1212e-04 - accuracy: 0.9999
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0937e-04 - accuracy: 0.9999
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0934e-04 - accuracy: 0.9999
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0916e-04 - accuracy: 0.9999
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0916e-04 - accuracy: 0.9999
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0945e-04 - accuracy: 0.9999
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0916e-04 - accuracy: 0.9999
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0891e-04 - accuracy: 0.9999
Epoch 41/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0893e-04 - accuracy: 0.9999
Epoch 42/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0896e-04 - accuracy: 0.9999
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0893e-04 - accuracy: 0.9999
Epoch 44/50
804/804 [==============================] - 3s 3ms/step - loss: 1.0890e-04 - accuracy: 0.9999
Epoch 45/50
804/804 [==============================] - 4s 4ms/step - loss: 1.0883e-04 - accuracy: 0.9999
Epoch 46/50
804/804 [==============================] - 4s 4ms/step - loss: 1.0874e-04 - accuracy: 0.9999
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 1.0873e-04 - accuracy: 0.9999
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 1.0877e-04 - accuracy: 0.9999
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0854e-04 - accuracy: 0.9999
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 1.0867e-04 - accuracy: 0.9999

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 8.8957e-05 - accuracy: 0.9999 - 775ms/epoch - 3ms/step
Loss: 8.895673090592027e-05, Accuracy: 0.9998833537101746

In [17]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')